In [1]:
import pandas as pd

In [2]:
import tensorflow as tf
gpus = tf.config.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)
        tf.config.set_visible_devices(gpus[0], 'GPU')
        print(f"Using GPU: {gpus[0]}")
    except RuntimeError as e:
        print(e)

Using GPU: PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')

In [3]:
data = pd.read_csv(r"D:\projects\Abstactive Text Summarization\archive\data.csv")

In [4]:
df = data.copy()

In [5]:
df = df.drop(index = [10839,14701,45600,89037,99783, 118847,142166,158232,189368,194150])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 870511 entries, 0 to 870520
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  870511 non-null  int64
 1   ID          814295 non-null  object
 2   Content     870487 non-null  object
 3   Summary     870511 non-null  object
 4   Dataset     870511 non-null  object
dtypes: int64(1), object(4)
memory usage: 39.8+ MB

In [7]:
df.drop_duplicates(inplace = True)

In [8]:
df.columns

Index(['Unnamed: 0', 'ID', 'Content', 'Summary', 'Dataset'], dtype='object')

In [9]:
df.head()

,Unnamed: 0,ID,Content,Summary,Dataset
0,0,f49ee725a0360aa6881ed1f7999cc531885dd06a,New York police are concerned drones could bec...,Police have investigated criminals who have ri...,CNN/Daily Mail
1,1,808fe317a53fbd3130c9b7563341a7eea6d15e94,By . Ryan Lipman . Perhaps Australian porn sta...,Porn star Angela White secretly filmed sex act...,CNN/Daily Mail
2,2,98fd67bd343e58bc4e275bbb5a4ea454ec827c0d,"This was, Sergio Garcia conceded, much like be...",American draws inspiration from fellow country...,CNN/Daily Mail
3,3,e12b5bd7056287049d9ec98e41dbb287bd19a981,An Ebola outbreak that began in Guinea four mo...,World Health Organisation: 635 infections and ...,CNN/Daily Mail
4,4,b83e8bcfcd51419849160e789b6658b21a9aedcd,By . Associated Press and Daily Mail Reporter ...,A sinkhole opened up at 5:15am this morning in...,CNN/Daily Mail

In [10]:
df = df.drop(["Unnamed: 0","ID","Dataset"],axis=1)